$white: white;
$black: black;
$colorElectricBlue: #000000e1;
$colorDarkElectricBlue: #283550;
$colorLightElectricBlue: #4691FF;
$colorShadowElectricBlue: rgba(0, 1, 2, 0.55);
$colorExtrimLightBlue: #8f8f8f6e;
$colorBtnPBlure: rgba(255, 255, 255, 0.7);
$blackBoxShadow: rgba(0, 0, 0, 0.4);
$red: #FF4A4A;